digraph ndiag {
  graph [rankdir=TB, layout=dot, splines=ortho, fontname="Arial"{{ .GraphAttrs | attrs }}];

{{ define "cluster" }}
  subgraph "cluster_{{ .cluster | id }}" {
    label = "{{ .cluster.Layer }}:{{ .cluster.Name | unesc }}";
    style = "rounded,filled,setlinewidth(2)";
    color = "{{ .cluster.Metadata.Color | colorhex }}"
    fillcolor = "{{ .cluster.Metadata.FillColor | colorhex }}"
    fontcolor = "{{ .cluster.Metadata.TextColor | colorhex }}"
    shape = box;
    fontname="Arial";

    {{ range $n := .cluster.Nodes }}
    subgraph "cluster_{{ $n | id }}" {
      label = {{ node_label $n $.hideRealNodes }};
      style = "solid,bold,filled";
      color = "#333333"
      fillcolor = "#FFFFFF"
      {{ range $co := $n.Components }}
      {{ if or (not $.hideUnlinked) (is_linked $co $.edges) }}
      {{ $co | component }}
      {{ end }}
      {{ end }}

      {{ $length := len $n.Components }}
      {{ if eq $length 0 }}
      "none"[label="", shape=none];
      {{ end }}
    }
    {{ end }}

    {{ range $co := .cluster.Components }}
      {{ if or (not $.hideUnlinked) (is_linked $co $.edges) }}
      {{ $co | component }}
      {{ end }}
    {{ end }}

    {{ range $c := .cluster.Children }}
       {{ template "cluster" (dict "cluster" $c "edges" $.edges "hideUnlinked" $.hideUnlinked "hideRealNodes" $.hideRealNodes) }}
    {{ end }}
  }
{{ end }}

{{ range $c := .Clusters }}
  {{ template "cluster" (dict "cluster" $c "edges" $.Edges "hideUnlinked" $.HideUnlinked "hideRealNodes" $.HideRealNodes) }}
{{ end }}

{{ range $n := .RemainNodes }}
  subgraph "cluster_{{ $n.Name }}" {
    label = {{ node_label $n $.HideRealNodes }};
    style = "solid,bold";
    {{ range $co := $n.Components }}
    {{ if or (not $.HideUnlinked) (is_linked $co $.Edges) }}
    {{ $co | component }}
    {{ end }}
    {{ end }}
    {{ $length := len $n.Components }}
    {{ if eq $length 0 }}
    "none"[label="", shape=none];
    {{ end }}
  }
{{ end }}

{{ range $co := .GlobalComponents }}
{{ if or (not $.HideUnlinked) (is_linked $co $.Edges) }}
{{ $co | global_component }}
{{ end }}
{{ end }}

{{ range $e := .Edges }}
"{{ $e.Src | id }}" -> "{{ $e.Dst | id }}"[labelfontcolor="#333333", fontname="Arial"{{ $e.Attrs | attrs }}];
{{ end }}

}
