# {{ .Config.Name }}

![view]({{ diagpath "view" (.View | id) .Format }})

{{ .Config.Desc }}

<p align="right">
  [ <a href="{{ .DescPath }}/{{ mdpath "_index" "" }}">:pencil2: {{ "Edit description" | lookup }}</a> ]
<p>

{{ if not .Config.HideViews }}
## {{ "Views" | lookup }}

| {{ "Name" | lookup }} | {{ "Description" | lookup }} |
| --- | --- |
{{- range $i, $d := .Views }}
| [{{ $d.Name }}]({{ mdpath "view" ($d | id) }}) | {{ if ne $d.Desc "" }}{{ $d.Desc | summary }}{{ else }}<a href="{{ $.DescPath }}/{{ mdpath "_view" ($d | id) }}">:pencil2:</a>{{ end }} |
{{- end }}
{{- end }}

{{ if not .Config.HideLayers }}
## {{ "Layers" | lookup }}

| {{ "Name" | lookup }} | {{ "Description" | lookup }} |
| --- | --- |
{{- range $i, $l := .Layers }}
| [{{ $l.Name }}]({{ mdpath "layer" $l.Name }}) | {{ if ne $l.Desc "" }}{{ $l.Desc | summary }}{{ else }}<a href="{{ $.DescPath }}/{{ mdpath "_layer" ($l | id) }}">:pencil2:</a>{{ end }} |
{{- end }}
{{- end }}

{{ if not .Config.HideLabels }}
## {{ "Labels" | lookup }}

| {{ "Name" | lookup }} | {{ "Description" | lookup }} |
| --- | --- |
{{- range $i, $t := .Labels }}
| [{{ $t | fullname }}]({{ mdpath "label" ($t | id) }}) | {{ if ne $t.Desc "" }}{{ $t.Desc | summary }}{{ else }}<a href="{{ $.DescPath }}/{{ mdpath "_label" ($t | id)}}">:pencil2:</a>{{ end }} |
{{- end }}
{{- end }}

## {{ "Nodes" | lookup }}

| {{ "Name" | lookup }}{{ if not .Config.HideRealNodes }} ({{ "node count" | lookup }}){{ end }} | {{ "Description" | lookup }} |
| --- | --- |
{{- range $i, $n := .Nodes }}
| [{{ $n | fullname }}]({{ mdpath "node" ($n | id) }}){{ if not $.Config.HideRealNodes }} ({{ len $n.RealNodes }}){{ end }} | {{ if ne $n.Desc "" }}{{ $n.Desc | summary }}{{ else }}<a href="{{ $.DescPath }}/{{ mdpath "_node" ($n | id)}}">:pencil2:</a>{{ end }} |
{{- end }}

---

> Generated by [ndiag](https://github.com/k1LoW/ndiag)
