# {{ .View.Name }}

![view]({{ diagpath .TemplateType  .View .Format }})

{{ .View.Desc }}

<p align="right">
  [ <a href="{{ .DescPath }}/{{ mdpath (printf "_%s" .TemplateType) .View }}">:pencil2: {{ "Edit description" | lookup }}</a> ]
</p>

## {{ "Nodes" | lookup }}

| {{ "Name" | lookup }}{{ if not .HideRealNodes }} ({{ "node count" | lookup }}){{ end }} | {{ "Description" | lookup }} |
| --- | --- |
{{- range $i, $n := .Nodes }}
| [{{ $n | fullname }}]({{ mdpath "node" $n }}){{ if not $.HideRealNodes }} ({{ len $n.RealNodes }}){{ end }} | {{ if ne $n.Desc "" }}{{ $n.Desc | summary }}{{ else }}<a href="{{ $.DescPath }}/{{ mdpath "_node" $n }}">:pencil2:</a>{{ end }} |
{{- end }}

## {{ "Relations" | lookup }}

{{- range $j, $rel := .Relations }}

##### `{{ ($rel | id) }}`

![relation]({{ diagpath "relation"  $rel $.Format }})

{{ $rel.Desc }}
<p align="right">
  [ <a href="{{ $.DescPath }}/{{ mdpath "_relation" $rel }}">:pencil2: {{ "Edit description" | lookup }}</a> ]
</p>

| # | {{ "Component" | lookup }} | {{ "Description" | lookup }} |
| --- | --- | --- |
{{- range $i, $c := $rel.Components }}
| {{ $i }} | {{ $c | id }} | {{ $c.Desc | trim | nl2br }} <a href="{{ $.DescPath }}/{{ mdpath "_component" $c }}">:pencil2:</a> |
{{- end }}

---

{{- end }}

{{- if not .HideLayers }}
## {{ "Layers" | lookup }}

| {{ "Name" | lookup }} | {{ "Description" | lookup }} |
| --- | --- |
{{- range $i, $l := .Layers }}
| [{{ $l.Name }}]({{ mdpath "layer" $l }}) | {{ if ne $l.Desc "" }}{{ $l.Desc | summary }}{{ else }}<a href="{{ $.DescPath }}/{{ mdpath "_layer" $l }}">:pencil2:</a>{{ end }} |
{{- end }}
{{ end }}

{{- if not .HideLabels }}
## {{ "Labels" | lookup }}

| {{ "Name" | lookup }} | {{ "Description" | lookup }} |
| --- | --- |
{{- range $i, $l := .Labels }}
| [{{ $l | fullname }}]({{ mdpath "label" $l }}) | {{ if ne $l.Desc "" }}{{ $l.Desc | summary }}{{ else }}<a href="{{ $.DescPath }}/{{ mdpath "_label" $l }}">:pencil2:</a>{{ end }} |
{{- end }}
{{ end }}
---

> Generated by [ndiag](https://github.com/k1LoW/ndiag)
