name: build

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  job-test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Check out source code
        uses: actions/checkout@v6
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod

      - name: Run lint
        uses: reviewdog/action-golangci-lint@v2
        with:
          fail_level: warning
          go_version_file: go.mod

      - name: Get branch
        id: get_branch
        run: echo ::set-output name=GITHUB_BRANCH::${GITHUB_REF/refs\/heads\//}

      - name: Test
        run: make ci

      - name: Update ndiag documents
        run: make ci_doc

      - uses: EndBug/add-and-commit@v9
        with:
          add: 'docs/ example/'

      - name: Run octocov
        uses: k1LoW/octocov-action@v1
